@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/** Global
------------------------------------------------------------*/

:root {
	/* colors */
	--cosma-blue: #147899;
	--cosma-blue-dark: #02385c;
	--border-color: #d8d8d8;
	--border-light-color: #f3f3f3;
	--brown: #857e75;
	--light-brown: #e7dfd3;
	--off-white: #f9f7f4;
	/* typography */
	--sans: sans-serif;
	--serif: "Georgia", serif;
	--mono: "Courier New", Courier, monospace;
	--condensed: 'Arial Condensed', sans-serif;
	/* global size */
	font-size: 62.5%;
	/* others */
	--shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

* {
	box-sizing: border-box;
}

/** Page
------------------------------------------------------------*/

body {
	overflow-x: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--sans);
	font-size: 1.4rem;
	line-height: 1.5;
	background-color: var(--off-white);
	color: rgb(51, 51, 51);
}

/* Header and footer */

header {
	height: 80vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
nav {
	color: var(--brown);
}
.menu {
	margin: 0 0 1em 0;
	padding: 1em 0 1em 1em;
	text-align: center;
}
.menu li {
	display: inline-block;
}
.article-meta, .menu a {
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 5px;
}
footer .menu {
	text-align: center;
	padding: 1em 0;
}
footer a {
	text-decoration: none;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.home, header { /* Page d'accueil */
	text-align: center;
  max-width: 100vw;
}
#home-logo { /* Logo */
	width: 600px;
}
#tagline-primary {
	font-family: "Caveat";
	mix-blend-mode: multiply;
	color: dimgrey;
	margin-bottom: 5rem;
	font-size: 5.6rem;
	font-weight: 300;
	margin: 2rem 0;
	position: relative;
	left: 18rem;
	top: -6rem;
	transform: skewY(-3deg);
}

.tagline-secondary {
	font-size: 2.4rem;
	font-weight: 300;
	margin: 0 auto 2rem auto;
	max-width: 33ch;
	text-align: center;
}
#nav-logo img {
	max-width: 300px;
	width: 150px;
	vertical-align: middle;
}

#home-main-screenshot {
	max-width: 90vw;
}
#home-buttons-text button {
	margin-bottom: 2rem;
}
#availability {
	margin: 1rem 0 0 0;
}
#availability p {
	color: var(--brown);
	margin: 0;
}

section#first {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 2rem;
}

section#second {
	background-color: var(--cosma-blue);
	padding: 24rem 16vw 16rem 16vw;
	font-size: 2.4rem;
	color: var(--light-brown);
	position: relative;
	top: -18rem;
	z-index: -1;
}

section#features {

}

.feature {
	width: 100vw;
	height: 85vh;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto;
	text-align: left;
}
.feature:nth-child(2n) {
  flex-direction: row-reverse;
/*   background-color: red; */
}
.feature:nth-child(n+2):nth-child(-n+3) {
	height: auto;
}
.feature-text {
	width: 50%;
}
.feature-img {
	width: 50%;
}
.feature-text, .feature-img {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.feature-text > * {
	width: 70%;
	margin: 0 auto;
}
.feature-text h2 {
	font-size: 3rem;
	font-weight: 300;
	margin-bottom: 2rem;
}
.feature-text p {
	font-size: 1.8rem;
	margin-bottom: 1.8rem;
}
.feature-text > *:nth-child(n+4) {
	color: #b8b2a8;
}
.feature-img {
/* 	background-color: var(--cosma-blue); */
}
.feature-img img {
	margin: 0;
	max-width: 50vw;
}

.zettlr {
	max-width: 100%;
	margin: 0;
	padding: 20rem 10rem;
	background: var(--cosma-blue);
	color: #fcfbfa;
}
.zettlr .feature-text {
	max-width: 100%;
}

img {
	height: auto;
/* 	width: 100%; */
}

#second p {
	font-weight: 300;
	color: #fcfbfa;
}

#second p:first-child {
	font-size: 4rem;
}

#cta {
	margin: 10rem 0;
}

/* Article */

article p,
article ol,
article ul {
	font-size: 1.7rem;
}

/* Aside */

aside ul {
	font-size: 1.5rem;
	padding-left: 1.5rem;
}

/* Telechargement */

.download > div {
	text-align: center;
}
.download h2,
.about h2,
.faq h2,
#download-buttons-text {
	margin-top: 5rem;
}
.download table {
	margin-bottom: 3rem;
	width: 100%;
}

/* Blog */

.blog hr {
	margin: 3rem 0;
}

/* Documentation */

.docs > div {
	text-align: center;
}

#docs-buttons-text {
	margin: 5rem 0;
}

/* Liens */

a {
	word-break: break-word;
}
a:hover {
	background-color: var(--light-brown);
}
a, a:visited {
	color: inherit;
}

.download-platforms,
.download-prerequisites {
	font-size: 1.2rem;
	color: grey;
}

/* A propos */

.about article > p:first-of-type {
	font-size: 2.8rem;
	font-weight: 300;
	margin-bottom: 5rem;
}
.about hr {
	margin: 5rem 0;
}

.people-role,
.release-links {
	color: grey;
	font-size: 1.2rem;
}
.people-role::before,
.release-links::before {
	content: '— ';
}
.hyperotlet {
	margin-bottom: 5rem;
}
.hyperotlet .logo {
	float: left;
	max-width: 75px;
	margin-right: 2rem;
}
.hyperotlet .logo + p {
	font-size: 2.2rem;
	font-weight: 300;
}

/* Buttons */

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: .3rem;
}
.btn-primary {
	color: #fff;
	background-color: var(--cosma-blue);
	border-color: var(--cosma-blue);
}
a.btn {
	text-decoration: none;
}
a.btn,
a.btn:visited {
	color: #fff;
}
.btn-primary:hover {
	color: #fff;
	background-color: var(--cosma-blue-dark);
	border-color: var(--cosma-blue-dark);
}
.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-secondary:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}
a.btn[data-os]:not(.active) {
	display: none;
}
header .btn,
.home .btn,
.download .btn,
.docs .btn {
	font-size: 1.8rem;
	padding: 1rem 2rem;
	vertical-align: baseline;
	border-radius: .5rem;
}
.btn a {
	text-decoration: none;
}
.btn a:hover {
	background-color: inherit;
}
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code {
	background: #f3f4f6;
	border-radius: 5px;
	font-family: var(--mono);
}
pre code {
	background: none;
}

/* misc elements */
img, iframe, video {
	max-width: 100%;
}
main {
	hyphens: auto;
}
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th {
	border-bottom: 1px solid #ddd;
}
th, td {
	padding: 5px;
}
thead, tfoot, tr:nth-child(even) {
	background: #eee;
}

/* Responsive */

@media screen and (max-width: 900px) {
	.blog, .about, .download, .faq {
		padding: 0 5vw;
	}
	#home-logo {
		max-width: 80%;
	}
	#tagline-primary {
		font-size: 3rem;
		left: 3rem;
		top: -2rem;
	}
	p.tagline-secondary {	
		padding: 0 2vw;	
		font-size: 2.2rem;
	}
	header .btn, .home .btn, .download .btn {
		font-size: 1.6rem;
	}
	section#first {
		background-color: var(--cosma-blue);
		margin: 0;
		padding: 2rem 0 0 0;
	}
	section#second {
		padding: 2rem 5vw;
		top: 0;
	}
	#second p {
		font-size: 1.8rem;
		font-weight: normal;
		color: #fcfbfa;
		text-align: left;
	}
	#second p:first-child {
		font-size: 2rem;
		font-weight: 300;
		text-align: center;
		padding-bottom: 2rem;
	}
	.feature {
		display: inline-block;
		padding: 5rem 0;
		border-bottom: 1px solid var(--border-color);
		height: auto;
	}
	.feature-text,
	.feature-img {
		width: 100%;
		height: auto;
	}
	.feature-text > * {
		width: 100%;
		padding: 0 5vw;
	}
	.feature-img img {
		max-width: 100%;
	}
	.about p:first-of-type {
		font-size: 2.4rem;
	}
	.hyperotlet .logo {
		max-width: 50px;
		margin-right: 1rem;
	}
	.hyperotlet .logo + p {
		font-size: 2rem;
	}
}