{{ partial "head.html" . }}
	<main class="wrapper about">
		<article>
			<h1 class="title-section">{{ .Title }}</h1>
			{{ .Content }}
			<h2>{{ i18n "team" }}</h2>
			<div class="hyperotlet">
				<img class="logo" src="/img/hyperotlet.png">
				<p>{{ i18n "hyperOtlet" }}</p>
			</div>
			{{ $data := index .Site.Data .Site.Language.Lang }}
			{{ range $data.people }}
			<a href="{{ .link }}"><h3 class="people-name">{{ .name }}</a> <span class="people-role">{{ .role }}</span></h3>
			<p class="people-bio">{{ .bio | markdownify }}</p>
			{{ end }}
			<h2>{{ i18n "projectHistory" }}</h2>
			{{ $data := index .Site.Data .Site.Language.Lang }}
			{{ range $data.history }}
			<p><strong>{{ .date }} :</strong> {{ .description | markdownify }}</p>
			{{ end }}
		</article>
</main>

{{ partial "footer.html" . }}

