{{ partial "head.html" . }}
	<main class="wrapper docs">
		<div id="docs-buttons-text">
			<div id="docs-buttons">
				<a class="btn btn-primary" role="button" href="manuel-utilisation/">{{ i18n "userManual" }}</a>
				<a class="btn btn-primary" role="button" href="cli/manuel-utilisation/">{{ i18n "userManualCLI" }}</a>
				<a class="btn btn-secondary" role="button" href="manuel-developpement/">{{ i18n "developerManual" }}</a>
			</div>
			<div>
				<p><a href="v2/manuel-utilisation/">Manuel d'utilisation pour Cosma GUI v2 bêta</a></p>
			</div>
		</div>
		<article>
		{{ .Content }}
		</article>
	</main>
{{ partial "footer.html" . }}
