{{ partial "head.html" . }}
<header>
	<img id="home-logo" src="/img/logo-cosma.svg">
	<p id="tagline-primary">{{ .Site.Params.Tagline.Primary }}</p>
	<div id="home-buttons-text">
		<p class="tagline-secondary">{{ .Site.Params.Tagline.Secondary }}</p>
		<div id="home-buttons">
			<a class="btn btn-primary" data-os="Unknown" role="button" href="https://github.com/graphlab-fr/cosma/releases/latest">{{ i18n "downloadUnknown" }}</a>
			<a class="btn btn-primary" data-os="MacOs" role="button" href="{{ (index (.Site.Data.versions) 0).downloadMac }}">{{ i18n "downloadMac" }}</a>
			<a class="btn btn-primary" data-os="Windows" role="button" href="{{ (index (.Site.Data.versions) 0).downloadWin }}">{{ i18n "downloadWin" }}</a>
		  	<a class="btn btn-secondary" role="button" href="/demo.html">{{ i18n "demo" }}</a></button>
		</div>
		<div id="availability">
			<p>{{ i18n "availability" | markdownify }}</p>
		</div>
	</div>
</header>
<main class="wrapper home">
	<section id="first">
		<img id="home-main-screenshot" src="/img/screenshot-cosma.png" alt="Screenshot Cosma">
	</section>
	<section id="second">
		<p>{{ i18n "pitch1" }}</p>
		<p>{{ i18n "pitch2" }}</p>
	</section>
	<section id="features">
		{{ $data := index .Site.Data .Site.Language.Lang }}
		{{ range $data.features }}
		<div class="feature">
			<div class="feature-text">
				<h2>{{ .title | markdownify }}</h2>
				<p>{{ .description | markdownify }}</p>
			</div>
			<div class="feature-img">
				<img src="{{ .img }}">
			</div>
		</div>
		{{ end }}
<!-- 
		<div class="feature zettlr">
			<div class="feature-text">
				<h2>Zettlr + Cosma</h2>
				<p><a href="https://zettlr.com">Zettlr</a> est un partenaire idéal pour Cosma. Rédigez avec l'un des meilleurs outils d'écriture académique, et utilisez Cosma pour franchir une nouvelle dimension.</p>
				<p>Besoin d'un autre éditeur ? Cosma continue à fonctionner de manière autonome.</p>
			</div>
<!~~ 			<img src="/img/screenshot-cosma.png"> ~~>
<!~~ 			<img src="/img/zettlr.png"> ~~>
		</div>
 -->
	</section>
	<section id="cta">
		<div id="download-buttons">
			<a class="btn btn-primary" data-os="Unknown" role="button" href="https://github.com/graphlab-fr/cosma/releases/latest">{{ i18n "downloadUnknown" }}</a>
			<a class="btn btn-primary" data-os="MacOs" role="button" href="{{ (index (.Site.Data.versions) 0).downloadMac }}">{{ i18n "downloadMac" }}</a>
			<a class="btn btn-primary" data-os="Windows" role="button" href="{{ (index (.Site.Data.versions) 0).downloadWin }}">{{ i18n "downloadWin" }}</a>
			<a class="btn btn-secondary" role="button" href="../docs">Documentation</a></button>
		</div>
		<!-- <div id="home-buttons">
			<a class="btn btn-primary" role="button" href="https://github.com/graphlab-fr/cosma/releases/latest">{{ i18n "download" }}</a>
		  <a class="btn btn-secondary" role="button" href="docs">Documentation</a></button>
		</div> -->
		<div id="availability">
			<p>{{ i18n "availability" | markdownify }}</p>
		</div>
	</section>
	{{ .Content }}
</main>

{{ partial "footer.html" . }}