{{ partial "head.html" . }}
	<main class="wrapper download">
		<div id="download-buttons-text">
			<div id="download-buttons">
				<button type="button" class="btn btn-primary"><a href="https://github.com/graphlab-fr/cosma/releases/latest">Télécharger Cosma</a></button>
				<button type="button" class="btn btn-secondary"><a href="https://graphlab-fr.github.io/cosma/fr.html">Documentation</a></button>
			</div>
			<div id="availability">
				<p>Disponible pour macOS et Windows</p>
			</div>
		{{ .Content }}
		<h2>Tableau des versions</h2>
		{{ partial "versions-table.html" . }}
		<p>Restez informés des mises à jour de Cosma en vous abonnant au <a href="https://cosma.graphlab.fr/feed.xml">flux RSS</a>.</p>
	</main>
{{ partial "footer.html" . }}
