{{ $pages := .Pages }}
{{ $pages = .Site.RegularPages }}
{{ range (where $pages "Section" "features") }}
<div class="feature">
	<div>
		{{ if .Params.Title }}<h2>{{ .Params.Title | markdownify }}</h2>{{ end }}
		{{ if .Params.Description }}<p>{{ .Params.Description | markdownify }}</p>{{ end }}
		{{ if (and (isset .Params "img1") (isset .Params "img2")) }}
		<div class="imgs">
			<div class="img1">
				<img src="{{ .Params.Img1 }}">
			</div>
			<div class="img2">
				<img src="{{ .Params.Img2 }}">
			</div>
		</div>
		{{ end }}
	</div>
	{{ if .Params.Img }}<img src="{{ .Params.Img }}">{{ end }}
</div>
{{ end }}
