<link rel="schema.DC" href="https://purl.org/dc/elements/1.1/"/>
<link rel="schema.DCTERMS" href="https://purl.org/dc/terms/"/>

<title>{{ .Title }} | {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta name="DC.Title" content="{{ .Title }} | {{ .Site.Title }}"/>

<meta name="description" content="{{ .Site.Params.Description }}"/>
<meta property="og:description" content="{{ .Site.Params.Description }}"/>
<meta name="DC.description" content="{{ .Site.Params.Description }}"/>

<meta property="article:tag" content="{{ delimit .Site.Params.Keywords "," }}"/>
<meta property="article:tag" content="{{ delimit .Site.Params.Keywords "," }}"/>

<meta name="author" content="{{ delimit .Site.Params.Authors "," }}"/>
<meta name="copyright" content="Tous droits réservés aux auteurs"/>
<meta name="DC.rights" content="Tous droits réservés aux auteurs"/>

<meta name="twitter:site" content="@arthurperret">
<meta name="twitter:creator" content="@arthurperret">
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}">
<meta name="twitter:description" content="Un outil de visualisation et de partage pour les travailleurs de la connaissance">
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="/img/cosma-icone.png">