<table>

    <tbody>

		{{ range $.Site.Data.versions }}
        <tr>
            <td>Cosma {{ .tag }}</td>
            <td>{{ if .downloadMac }}<a href="{{ .downloadMac }}">Mac (Intel)</a>{{ end }}</td>
            <td>{{ if .downloadMacArm }}<a href="{{ .downloadMacArm }}">Mac (Apple Silicon)</a>{{ end }}</td>
            <td>{{ if .downloadWin }}<a href="{{ .downloadWin }}">Windows (Intel)</a>{{ end }}</td>
            <td>{{ if .downloadWinArm }}<a href="{{ .downloadWinArm }}">Windows (ARM)</a>{{ end }}</td>
            <td>{{ if .downloadLin }}<a href="{{ .downloadLin }}">Linux (Intel)</a>{{ end }}</td>
            <td>{{ if .downloadLinArm }}<a href="{{ .downloadLinArm }}">Linux (ARM)</a>{{ end }}</td>
            <td><a href="../blog/{{ .notes }}">{{ i18n "releaseNotes" }}</a></td>
        </tr>
        {{ end }}

    </tbody>

</table>